[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/devstack-chef"]
	path = cookbooks/devstack-chef
	url = https://github.com/cjoelrun/devstack-chef.git
[submodule "cookbooks/cloudcafe"]
	path = cookbooks/cloudcafe
	url = https://github.com/cjoelrun/cloudcafe-chef.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python.git
